In [1]:
import generate_mock_dataset as mock
import pandas as pd

### General Info of dataset
1. The dependent variable is the status of the discount scheme ("scheme") - FAILED, PENDING, SUCCESS.
  * We focus on supervised learning for now
2. Whether a scheme succeeds or not is based on whether the number of bids ("num_bids") meets the minimum order quantity ("min_order_qnty") by the expiry date ("expiry_date"). 
  * This logic has already been taken care of, so it just nice to know
3. The mock dataset has 80 schemes. 
4. There are 4 categories of products - shoe, computer, camera. Each categories has got 20 schemes each 
5. The data are randomized everytime you call random_generate_df(). The status of the scheme is based of the randomized num_bids, min_order_qnty, and expiry_date.

In [2]:
df = mock.random_generate_df()

In [3]:
df.head()

,category,num_bids,min_order_qnty,expiry_date,original_price,discounted_price,delivery_charge,status
0,shoe,12,4,2020-11-24 02:56:55,150,104,14,SUCCESS
1,shoe,19,13,2020-07-30 11:31:09,186,161,11,SUCCESS
2,shoe,13,3,2020-09-02 15:03:11,191,100,18,SUCCESS
3,shoe,12,11,2020-09-29 12:58:16,145,113,7,SUCCESS
4,shoe,18,9,2020-07-23 17:12:44,197,106,9,SUCCESS

In [4]:
df.shape

(80, 8)

In [ ]:
# if you want the data set to be constant instead of randomized each time you rerun jupyter notebook,
# you can export the df as csv, and then read from that csv

In [5]:
product_categories = mock.categories
print(product_categories)

['shoe', 'computer', 'camera', 'shirt']

In [6]:
product_category = product_categories[1]  # try with a different product_category
df_selected_category = df[df['category'] == product_category]

In [7]:
df_selected_category.head()

,category,num_bids,min_order_qnty,expiry_date,original_price,discounted_price,delivery_charge,status
20,computer,4,15,2020-03-22 19:09:50,1322,1147,13,FAILED
21,computer,1,4,2020-03-12 15:21:12,1048,1013,13,FAILED
22,computer,4,16,2020-07-22 19:40:38,1873,1782,12,FAILED
23,computer,4,17,2020-09-14 05:29:48,1220,1171,19,FAILED
24,computer,4,16,2020-04-01 19:50:01,1572,1362,2,FAILED

In [8]:
df_selected_category.shape

(20, 8)

### User Stories / Tasks
1. As a vendor, I want to know how the minimum discount I should give for my category of good, so that my scheme can succeed
2. As a vendor, I want to know the relationship between the expiry_date, discount, and the min_order_qnty, so that I know how to adjust these variables for my scheme to succeed
3. How the amount of delivery charge affects the success of the scheme

In [9]:
# Happy coding!